{% extends "layout.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-primary"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Sellers Home</h1>
<div>
    {% if listings %}
    {%  for listing in listings %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="{{ MEDIA_URL }}/{{listing.document}}" alt="Card image cap">
                    <div class="card-body">
                    <h4 class="card-title">{{ listing.listing_name }}</h4>
                    <p class="card-text">{{listing.desc}}</p>
                    <a href="{% url 'listings:detail' pk=listing.pk %}" class="btn btn-primary">Go somewhere</a>
                    <a href="{% url 'listings:edit' pk=listing.pk %}" class="btn btn-danger">Edit</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    {% else %}
        <h1>You have no listings</h1>
    {% endif %}
    
</div>
{% endblock %}